<html>
<!-- ctrl+shift+F pour les indentations  -->
<head>
	<meta charset="UTF-8">
	<title>Liste Client Entreprise</title>
	<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
	<link rel="stylesheet" href="{$url_base}public/css/liste.css">

</head>

<body>
	<img src="{$url_base}public/image/bplogo.png" class="resize"/>
		<nav>
			
			<div class="nav navbar navbar-default navbar-fixed-top">
					<ul class="nav navbar-nav"> 
			<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
			<li><a href="{$url_base}">Accueil</a></li>
			<li><a href="{$url_base}">Liste Client</a></li>
			<li><a href="{$url_base}">Gestion Compte</a></li>
			<li><a href="{$url_base}">Ajout Client</a></li>
			<li><a href="{$url_base}">Virement</a></li>

			</ul>
		</nav>

	{if isset($clientEntreprises)}
		{if $clientEntreprises != null}
	<table class="table table-bordered table-stripped">
		<tr>
			<th>Id</th>
			<th>NomEntreprise</th>
			<th>Ninea</th>
			<th>Adresse</th>
			<th>Raison_Sociale</th>
			<th>Adresse</th>
			<th>Telephone</th>
			<th>Email</th>
			<th>RegistreCom</th>
			<th>Action</th>
		</tr>
		{foreach from=$clientEntreprises item=clientEntreprise}
		<tr>
			<td>{$clientEntreprise->getId()}</td>
			<td>{$clientEntreprise->getNomEntreprise()}</td>
			<td>{$clientEntreprise->getNinea()}</td>
			<td>{$clientEntreprise->getAdresse()}</td>
			<td>{$clientEntreprise->getRaison_Sociale()}</td>
			<td>{$clientEntreprise->getAdresse()}</td>
			<td>{$clientEntreprise->getTelephone()}</td>
			<td>{$clientEntreprise->getEmail()}</td>
			<td>{$clientEntreprise->getRegistreCom()}</td>
			
			<td><a href="{$url_base}clientEntreprise}/edit/{$clientEntreprise}->getId()}">Editer</a></td>
		</tr>
		{/foreach}
	</table>
	{else}
	Liste vide
	{/if}
	{/if}
	</div>
	<!-- L'url de redirection pour ajouter un nouveau client particulier à partir de cette page  -->
	<div class="lien">
	<a href="{$url_base}clientEntreprise/add">Ajout d'un Entreprise</a>
    </div>

</body>

</html>